{% extends 'base.html.twig' %}

{%  block title %}D'estiny Dance{%  endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        img {height: 18rem}
    </style>

    <div class="example-wrapper">
        <div class="container-fluid">

                {% for category in categories %}
                    {% if category.dancePhotos|length > 0 %}
                        <div class="row">
                            <div class="col">
                                <h3>{{ category }}</h3>
                            </div>
                        </div>
                        <div class="row">
                            {% for photo in galery[category.name] %}
                                <div class="col-12 col-sm-6 col-md-4">
                                    <div class="card" style="width: 18rem;">
                                        <img src="{{ asset('images/' ~ photo.imageName) }}" class="card-img-top" alt="...">
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endfor %}

                {% if galery.noCategory|length > 0 %}
                    <div class="row">
                        <div class="col">
                            <h3>Alte poze</h3>
                        </div>
                    </div>
                    <div class="row">
                        {% for photo in galery.noCategory %}
                            <div class="col-12 col-sm-6 col-md-4">
                                <div class="card" style="width: 18rem;">
                                    <img src="{{ asset('images/' ~ photo.imageName) }}" class="card-img-top" alt="...">
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

        </div>
    </div>
{% endblock %}
