{% extends 'base.html.twig' %}

{%  block title %}D'estiny Dance{%  endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    img {height: 25rem}
</style>

<div class="example-wrapper">

    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">

            <div class="carousel-item active">
                <img src="{{ asset('poze/' ~ firstImage.RelativePathname) }}" class="d-block w-100" alt="...">
            </div>

            {%  for image in images %}
                <div class="carousel-item">
                    <img src="{{ asset('poze/' ~ image.RelativePathname) }}" class="d-block w-100" alt="...">
                </div>
            {% endfor %}

        </div>
    </div>

</div>
{% endblock %}
