<form method="post" action="{{ path('carousel_image_delete', {'id': carousel_image.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ carousel_image.id) }}">
    <button class="btn">Delete</button>
</form>
