{% extends 'base.html.twig' %}

{% block title %}Edit CarouselImage{% endblock %}

{% block body %}
    <h1>Edit CarouselImage</h1>

    {{ include('carousel_image/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('carousel_image_index') }}">back to list</a>

    {{ include('carousel_image/_delete_form.html.twig') }}
{% endblock %}
