{% extends 'base.html.twig' %}

{% block title %}CarouselImage index{% endblock %}

{% block body %}
    <h1>CarouselImage index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>ImageName</th>
                <th>ImageSize</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for carousel_image in carousel_images %}
            <tr>
                <td>{{ carousel_image.id }}</td>
                <td>{{ carousel_image.imageName }}</td>
                <td>{{ carousel_image.imageSize }}</td>
                <td>{{ carousel_image.updatedAt ? carousel_image.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('carousel_image_show', {'id': carousel_image.id}) }}">show</a>
                    <a href="{{ path('carousel_image_edit', {'id': carousel_image.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('carousel_image_new') }}">Create new</a>
{% endblock %}
