{% extends 'base.html.twig' %}

{% block title %}New CarouselImage{% endblock %}

{% block body %}
    <h1>Create new CarouselImage</h1>

    {{ include('carousel_image/_form.html.twig') }}

    <a href="{{ path('carousel_image_index') }}">back to list</a>
{% endblock %}
