{% extends 'base.html.twig' %}

{% block title %}CarouselImage{% endblock %}

{% block body %}
    <h1>CarouselImage</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ carousel_image.id }}</td>
            </tr>
            <tr>
                <th>ImageName</th>
                <td>{{ carousel_image.imageName }}</td>
            </tr>
            <tr>
                <th>ImageSize</th>
                <td>{{ carousel_image.imageSize }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ carousel_image.updatedAt ? carousel_image.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('carousel_image_index') }}">back to list</a>

    <a href="{{ path('carousel_image_edit', {'id': carousel_image.id}) }}">edit</a>

    {{ include('carousel_image/_delete_form.html.twig') }}
{% endblock %}
