{% extends 'base.html.twig' %}

{% block title %}Hello AdminMenuController!{% endblock %}

{% block body %}

    <div class="container-fluid text-center">
        <h2>EVIDENTA persoanelor care au intrat în sala de antrenament în data de {{ date }}</h2>
        <p class="text-right">Autodacia, str. Patrascu Voda nr.6</p>
        <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nume</th>
                    <th scope="col">Prenume</th>
                    <th scope="col">Numar legitimatie FRDS</th>
                </tr>
                </thead>
            {% set index = 0 %}
                <tbody>
            {% for member in members %}
                <tr>
                    {% set index = index + 1 %}
                    <th scope="row">{{ index }}</th>
                    <td>{{ member.name }}</td>
                    <td>{{ member.surname }}</td>
                    <td>{{ member.MIN }}</td>
                </tr>
            {% endfor %}
                </tbody>
        </table>
    </div>

{% endblock %}