{% extends 'base.html.twig' %}

{% block title %}Hello AdminMenuController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    img { width: 10rem }
</style>

<div class="example-wrapper">
     <ol>
            {% for file in files %}
                <li>
                        <img src="{{ asset('poze/'~file.imageName) }}">
                        <a href="{{ path('carousel_image_edit', {'id': file.id}) }}"> &nbsp;&nbsp;&nbsp; Modifica poza </a>
                        <a href="{{ path('carousel_image_delete', {'id': file.id}) }}"> &nbsp;&nbsp;&nbsp; Sterge poza </a>
                </li>
            {% endfor %}
            <br>
            <li><a href="{{ path('carousel_image_new') }}"> Adauga poza </a></li>
     </ol>
</div>
{% endblock %}
