{% extends 'base.html.twig' %}

{% block title %}Hello AdminMenuController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        img { width: 10rem }
    </style>

    <div class="example-wrapper">
        <form action="{{ path('admin_menu_registration') }}" method="post">
            <ul>
                {% for member in members %}
                    <li>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="{{ member.id }}" id="defaultCheck1" name="inclass[]">
                            <label class="form-check-label" for="defaultCheck1">
                                {{ member }}
                            </label>
                        </div>
                    </li>
                {% endfor %}
                <br>
            <input type="submit" value="Submit">
        </form>
    </div>

{% endblock %}
