{% extends 'base.html.twig' %}

{% block title %}Edit PhotoCategory{% endblock %}

{% block body %}
    <h1>Edit PhotoCategory</h1>

    {{ include('photo_category/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('photo_category_index') }}">back to list</a>

    {{ include('photo_category/_delete_form.html.twig') }}
{% endblock %}
