{% extends 'base.html.twig' %}

{% block title %}PhotoCategory index{% endblock %}

{% block body %}
    <h1>PhotoCategory index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for photo_category in photo_categories %}
            <tr>
                <td>{{ photo_category.id }}</td>
                <td>{{ photo_category.name }}</td>
                <td>
                    <a href="{{ path('photo_category_show', {'id': photo_category.id}) }}">show</a>
                    <a href="{{ path('photo_category_edit', {'id': photo_category.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('photo_category_new') }}">Create new</a>
{% endblock %}
