{% extends 'base.html.twig' %}

{% block title %}New PhotoCategory{% endblock %}

{% block body %}
    <h1>Create new PhotoCategory</h1>

    {{ include('photo_category/_form.html.twig') }}

    <a href="{{ path('photo_category_index') }}">back to list</a>
{% endblock %}
