{% extends 'base.html.twig' %}

{% block title %}PhotoCategory{% endblock %}

{% block body %}
    <h1>PhotoCategory</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ photo_category.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ photo_category.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('photo_category_index') }}">back to list</a>

    <a href="{{ path('photo_category_edit', {'id': photo_category.id}) }}">edit</a>

    {{ include('photo_category/_delete_form.html.twig') }}
{% endblock %}
