<form method="post" action="{{ path('dance_photos_delete', {'id': dance_photo.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ dance_photo.id) }}">
    <button class="btn">Delete</button>
</form>
