{% extends 'base.html.twig' %}

{% block title %}Edit DancePhotos{% endblock %}

{% block body %}
    <h1>Edit DancePhotos</h1>

    {{ include('dance_photos/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('dance_photos_index') }}">back to list</a>

    {{ include('dance_photos/_delete_form.html.twig') }}
{% endblock %}
