{% extends 'base.html.twig' %}

{% block title %}DancePhotos index{% endblock %}

{% block body %}
    <h1>DancePhotos index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>ImageName</th>
                <th>ImageSize</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dance_photo in dance_photos %}
            <tr>
                <td>{{ dance_photo.id }}</td>
                <td>{{ dance_photo.imageName }}</td>
                <td>{{ dance_photo.imageSize }}</td>
                <td>{{ dance_photo.updatedAt ? dance_photo.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('dance_photos_show', {'id': dance_photo.id}) }}">show</a>
                    <a href="{{ path('dance_photos_edit', {'id': dance_photo.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('dance_photos_new') }}">Create new</a>
{% endblock %}
