{% extends 'base.html.twig' %}

{% block title %}New DancePhotos{% endblock %}

{% block body %}
    <h1>Create new DancePhotos</h1>

    {{ include('dance_photos/_form.html.twig') }}

    <a href="{{ path('dance_photos_index') }}">back to list</a>
{% endblock %}
