{% extends 'base.html.twig' %}

{% block title %}DancePhotos{% endblock %}

{% block body %}
    <h1>DancePhotos</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ dance_photo.id }}</td>
            </tr>
            <tr>
                <th>ImageName</th>
                <td>{{ dance_photo.imageName }}</td>
            </tr>
            <tr>
                <th>ImageSize</th>
                <td>{{ dance_photo.imageSize }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ dance_photo.updatedAt ? dance_photo.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('dance_photos_index') }}">back to list</a>

    <a href="{{ path('dance_photos_edit', {'id': dance_photo.id}) }}">edit</a>

    {{ include('dance_photos/_delete_form.html.twig') }}
{% endblock %}
